body,
p {
    height: 100%;
    padding: 1px;
    margin: 0;
    letter-spacing: 2px;
    font-family: STHeiti;
}

::-webkit-input-placeholder {
    font-weight: lighter;
}

.head_title span {
    font-size: 140%;
}

.info {
    margin-bottom: 70px;
}

.info_u {
    width: 100%;
    height: 100%;
}

.info_item {
    margin-top: 5px;
    background-color: white;
    padding: 5px 5px 5px 0;
}

.info_m {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.footer_cont {
    background-color: white;
    padding: 5px 0 5px 0;
    width: 100%;
    height: 100%;
}

.footer_text {
    padding-top: 5px;
    font-size: 60%;
}

#footer_h {
    color: gray;
    width: 20%;
    padding-left: 5%;
    padding-bottom: 10px;
    float: left;
}

    #footer_h img {
        height: 20px;
    }

#footer_f {
    color: gray;
    width: 25%;
    padding-left: 11%;
    padding-bottom: 10px;
    float: left;
}

    #footer_f img {
        height: 20px;
    }

#footer_m {
    color: #005fe0;
    float: left;
    padding-left: 10%;
    padding-bottom: 10px;
    ;
    width: 25%;
}

    #footer_m img {
        height: 20px;
    }

#footer_l {
    padding-left: 12%;
    padding-bottom: 10px;
    float: left;
    color: gray;
    width: 25%;
}

    #footer_l img {
        height: 20px;
    }